.bynder-orbit-search-form .bynder-search-form.form-wrapper {
  position: relative;
  margin: 0 -25px;
  padding: 1em 2em;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}

.bynder-orbit-search-form .bynder-search-form.form-wrapper .form-item {
  float: left;
  display: inline-grid;
  padding: 10px;
}

.bynder-orbit-search-form input.form-text {
  padding: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.bynder-orbit-search-form input.form-submit {
  margin: 0.25em 1em;
  display: inline-block;
  padding: 0.5em 1em;
  color: #fff;
  border: 1px solid #148fc8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #1ca0de;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
}

.bynder-orbit-search-form input.form-submit:hover {
  background-color: #148fc8;
}

.bynder-orbit-search-form input.form-submit:active {
  color: #fff;
  text-shadow: 0 0 0 transparent;
}

.bynder-orbit-search-form input.form-submit:focus,
.bynder-orbit-search-form input.form-submit:focus:hover {
  color: rgba(255, 255, 255, 0.5);
  outline: none;
  background-color: #148fc8;
}

.alert {
  position: absolute;
  top: 25px;
  right: 20px;
  padding: 15px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-warning {
  font-size: 14px;
  color: #8a6d3b;
  border-color: #faebcc;
  background-color: #fcf8e3;
}

.alert-error {
  color: #a94442;
  border-color: #ebccd1;
  background-color: #f2dede;
}

.alert-success {
  color: #3c763d;
  border-color: #d6e9c6;
  background-color: #dff0d8;
}

body.page-media-browser {
  overflow-y: scroll;
}

.media-modal-frame {
  height: 800px !important;
}

span#clear-all {
  background-color: #1ca0de !important;
}

/* set default standard media queries for responsive grid. */
@media only screen and (min-width: 320px) {
  .grid-sizer,
  .grid-item {
    width: 96%;
  }

  .gutter-sizer {
    width: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: 46%;
  }

  .gutter-sizer {
    width: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .grid-sizer,
  .grid-item {
    width: 23%;
  }

  .gutter-sizer {
    width: 10px;
  }
}

/* Jump back down for XL screens to better utilize the space. */
@media only screen and (min-width: 1600px) {
  .grid-sizer,
  .grid-item {
    width: 15%;
  }

  .gutter-sizer {
    width: 10px;
  }
}

#thumbnails {
  margin-top: 2em;
}

.grid-item {
  border: 2px solid lightgray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.13);
  float: left;
  position: relative;
  transition: .2s;
}

.grid-item .form-type-checkbox {
  display: none;
}

.grid-item img {
  display: block;
  width: 100%;
}

.grid-item .more-info {
  background: #000000;
  background: rgba(0, 0, 0, 0.85);
  bottom: 0;
  color: whitesmoke;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: .2s;
  width: 100%;
}

.grid-item:hover .more-info {
  opacity: .15;
}

.grid-item .more-info .name {
  margin: 0.5em 0.5em 0 0.5em;
}

.grid-item .more-info .type {
  margin: 0 0.5em 0.5em 0.5em;
}

.grid-item.checked:after {
  background-size: 54px 54px;
}

.grid-item.item-style {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.grid-item:hover {
  border: 2px solid darkgrey;
}

.grid-item.checked {
  border: 2px solid darkgrey;
}

.grid-item.checked:after {
  background: url("../images/checkmark.svg") no-repeat center center;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.overlay-throbber {
  background: #000000;
  background: rgba(216, 216, 216, 0.85);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.bynder-filters .form-item {
  display: inline-block;
  vertical-align: top;
}

#edit-search-button {
  clear: both;
  display: block;
  margin-left: 0;
}

.oauth-reload {
  display: none;
}
